<launch>
	<!-- Launches the lidar nodes for Jinx -->
	<node name="lidar_interpreter" pkg="lidar" type="lidar_interpreter" respawn="true">
		<param name="lidar_topic" type="str" value="/base_laser1_scan" />
	</node>	
	<node name="lidar_alarm" pkg="lidar" type="lidar_alarm" respawn="true">
		<param name="lidar_safe_distance" type="double" value="1.0" />
	</node>	
</launch>
