<launch>

	<!-- Launch Lidar nodes -->
	<include file="$(find lidar)/launch/lidar-gazebo.launch" />

	<!-- Launch Velocity Scheduler -->
	<include file="$(find vel_scheduler)/launch/vel-scheduler-gazebo.launch" />
	<!-- Launch Halt command node -->

	<!-- Launch Path Planner -->
	<node name="path_planner" pkg="path_planner" type="path_planner" respawn="true"></node>

</launch>
