<launch>
	<!-- Launch STDR -->
	<include file="$(find cwru_376_launchers)/launch/stdr_glennan_2.launch" />

	<!-- Launch Lidar nodes -->
	<include file="$(find lidar)/launch/lidar-stdr.launch" />

	<!-- Launch Velocity Scheduler -->
	<include file="$(find vel_scheduler)/launch/vel-scheduler-stdr.launch" />

	<!-- Launch Path Planner -->
	<node name="path_planner" pkg="path_planner" type="path_planner" respawn="true"></node>

</launch>
