<launch>
	<!-- Launch STDR -->
	<include file="$(find cwru_376_launchers)/launch/stdr_glennan_2.launch" />

	<!-- Launch Lidar nodes -->
	<include file="$(find lidar)/launch/lidar-stdr.launch" />

	<!-- Launch Velocity Scheduler -->
	<node name="vel_scheduler" pkg="vel_scheduler" type="vel_scheduler" args="/robot0/cmd_vel /robot0/odom" respawn="false"></node>

	<!-- Launch Path Planner -->
	<node name="path_planner" pkg="path_planner" type="path_planner" respawn="true"></node>

</launch>
